<section> 
  <!-- <div *ngFor="let meal of o.meals" > -->
    <div  >
      {{test?.Dishes.dish1.description}}
      <span style="color:red;"> </span>
      <span style="color:green;"> </span>
    </div>
  <!-- </div> -->
  <section class="meal">
    <div class="photo"></div>
    <div class="itemName">
        <!-- {{name |json }} -->
    </div>
    <section class="boxes">
      <div class="greenBox"></div>
      <div class="orangeBox"></div>
      <div class="redBox"></div>
    </section>
  </section>
</section>     

      			<!-- <section class="meal">
        <div class="photo"></div>
        <div class="itemName"></div>
				<section class="boxes">
					<div class="greenBox"></div>
					<div class="orangeBox"></div>
					<div class="redBox"></div>
				</section>
      </section> -->
      
      <!-- <div *ngFor="let rest of rests | async">{{rest | json}}</div>
      <div *ngFor="let order of orders | async">{{order | json}}</div> -->