.meal{
	background: #fafafa;
	border-bottom: 2px solid #e5e4e4; 
	height: 150px;
	width: 100%;
}
.photo{
	background: #A9A9A9;
	height: 100px;
	width: 100px;
	border: 1px solid black;
	float: left;
	position: relative;
	top:20px;
	left:10px;
}
.greenBox{
	background: #32CD32;
	height: 100px;
	width: 100px;
	border: 1px solid black;
	float: left;
	position: relative;
	top:20px;
	right:30px;
}
.orangeBox{
	background: #FF8C00;
	height: 100px;
	width: 100px;
	border: 1px solid black;
	float: left;
	position: relative;
	top:20px;
	right:20px;
}
.redBox{
	background:red;
	height: 100px;
	width: 100px;
	border: 1px solid black;
	float: left;
	position: relative;
	top:20px;
	right:10px;
}
.clear{
    clear:both;
}
.boxes{
	float:right;
}
.itemName{
    float:left;
    position:relative;
    top:65px;
    left:30px;
}